# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# macOS metadata
.DS_Store

# Bundler files
*.gem
/.bundle

# sewing-kit temporary folder
tmp

dist-modern
